Исключаем артефакты сборки

**/bin/
**/obj/

Исключаем пользовательские файлы

**/.User
**/.user
**/*.suo

Исключаем контроль версий

**/.git
**/.gitignore
**/.gitattributes

Исключаем папки IDE

**/.vs/
**/.vscode/

Исключаем файлы Docker (они не нужны в контексте)

**/Dockerfile
docker-compose.yml
*.md
