[submodule "OnlineQuizApi"]
	path = OnlineQuizApi
	url = https://github.com/Muradxanyann/OnlineQuizApi
[submodule "OnlineQuizScoreService"]
	path = OnlineQuizScoreService
	url = https://github.com/Muradxanyann/OnlineQuizScoreService
